@using EnergyPi.Web.Extensions;
@{
    ViewData["Title"] = "Today";
}

@model EnergyPi.Web.Models.TodayViewModel

@section Scripts {
    <script>
        // past hour power draw
        (function () {
            var timestampDataPoints = [ @Html.Raw(String.Join(", ", Model.PastHourPowerDraw.Keys.Select(k => $"\"{k.ToString("HH:mm:ss")}\""))) ];
            var powerDrawDataPoints = [ @String.Join(", ", Model.PastHourPowerDraw.Values) ];

            var ctx = document.getElementById("past-hour-power-draw-chart").getContext("2d");
            var pastHourChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: timestampDataPoints,
                    datasets: [{
                        label: "Power Draw (kW)",
                        data: powerDrawDataPoints,
                        lineTension: 0
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0
                            }
                        }]
                    }
                }
            });
        })();

        // past hour consumption
        (function () {
            var timestampDataPoints = [ @Html.Raw(String.Join(", ", Model.PastHourConsumption.Keys.Select(k => $"\"{k.ToString("HH:mm:ss")}\""))) ];
            var energyConsumptionDataPoints = [ @String.Join(", ", Model.PastHourConsumption.Values) ];

            var ctx = document.getElementById("past-hour-consumption-chart").getContext("2d");
            var pastHourChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: timestampDataPoints,
                    datasets: [{
                        label: "Energy Consumption (kWh)",
                        data: energyConsumptionDataPoints,
                        lineTension: 0
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0
                            }
                        }]
                    }
                }
            });
        })();

        // today's hourly consumption
        (function () {
            var hourlyDataPoints = [ @Html.Raw(String.Join(", ", Model.TodaysHourlyConsumption.Keys.Select(k => $"\"{k.ToString("hh:mm tt")}\""))) ];
            var hourlyDateTimeDataPoints = [ @Html.Raw(String.Join(", ", Model.TodaysHourlyConsumption.Keys.Select(k => $"\"{k}\""))) ];
            var energyConsumptionDataPoints = [ @String.Join(", ", Model.TodaysHourlyConsumption.Values) ];
            var temperatureDataPoints = [ @Html.Raw(String.Join(",", Model.TodaysTemperatureReadings.Values)) ];

            var ctx = document.getElementById("todays-hourly-consumption-chart").getContext("2d");
            var todaysHourlyChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: hourlyDataPoints,
                    datasets: [
                        {
                            label: "Energy Consumption (kWh)",
                            yAxisID: "energy-y-axis",
                            data: energyConsumptionDataPoints
                        }, {
                            label: "Weather (°F)",
                            yAxisID: "weather-y-axis",
                            type: "line",
                            fill: false,
                            backgroundColor: "#FF0000",
                            borderColor: "#FF0000",
                            data: temperatureDataPoints,
                            lineTension: 0
                        }
                    ]
                },
                options: {
                    onClick: function (c, i) {
                        var index = i[0]._index;
                        window.location.href = "/History/Index?date=" + hourlyDateTimeDataPoints[index];
                    },
                    scales: {
                        yAxes: [
                            {
                                id: "energy-y-axis",
                                position: "left",
                                ticks: {
                                    min: 0
                                }
                            },
                            {
                                id: "weather-y-axis",
                                position: "right"
                            }
                        ]
                    }
                }
            });
        })();

        // this month's consumption
        (function () {
            var dateTimeDataPoints = [ @Html.Raw(String.Join(",", Model.ThisMonthsDailyConsumption.Keys.Select(k => $"\"{k}\""))) ];
            var dailyDataPoints = [ @Html.Raw(String.Join(", ", Model.ThisMonthsDailyConsumption.Keys.Select(k => $"\"{k.ToString("MMMM d")}\""))) ];
            var energyConsumptionDataPoints = [ @String.Join(", ", Model.ThisMonthsDailyConsumption.Values) ];
            var highTemperatureDataPoints = [ @Html.Raw(String.Join(",", Model.ThisMonthsDailyHighTemperatureReadings.Values)) ];
            var averageTemperatureDataPoints = [ @Html.Raw(String.Join(",", Model.ThisMonthsDailyAverageTemperatureReadings.Values)) ];
            var lowTemperatureDataPoints = [ @Html.Raw(String.Join(",", Model.ThisMonthsDailyLowTemperatureReadings.Values)) ];

            var ctx = document.getElementById("this-months-consumption-chart").getContext("2d");
            var thisMonthsDailyChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: dailyDataPoints,
                    datasets: [
                        {
                            label: "Energy Consumption (kWh)",
                            yAxisID: "energy-y-axis",
                            data: energyConsumptionDataPoints
                        },
                        {
                            type: "line",
                            fill: false,
                            backgroundColor: "#FF0000",
                            borderColor: "#FF0000",
                            label: "High Temperature (°F)",
                            yAxisID: "weather-y-axis",
                            data: highTemperatureDataPoints,
                            lineTension: 0
                        },
                        {
                            type: "line",
                            fill: false,
                            backgroundColor: "#E5E500",
                            borderColor: "#E5E500",
                            label: "Average Temperature (°F)",
                            yAxisID: "weather-y-axis",
                            data: averageTemperatureDataPoints,
                            lineTension: 0
                        },
                        {
                            type: "line",
                            fill: false,
                            backgroundColor: "#0000FF",
                            borderColor: "#0000FF",
                            label: "Low Temperature (°F)",
                            yAxisID: "weather-y-axis",
                            data: lowTemperatureDataPoints,
                            lineTension: 0
                        }
                    ]
                },
                options: {
                    onClick: function (c, i) {
                        var index = i[0]._index;
                        window.location.href = "/History/Index?date=" + dateTimeDataPoints[index];
                    },
                    scales: {
                        yAxes: [
                            {
                                id: "energy-y-axis",
                                position: "left",
                                ticks: {
                                    min: 0
                                }
                            },
                            {
                                id: "weather-y-axis",
                                position: "right"
                            }
                        ]
                    }
                }
            });
        })();
    </script>
}

<h1>
    @ViewData["Title"]
</h1>
<h6>
    <small class="text-muted">Last Updated: @Model?.LastBroadcastTimestamp.ToString("yyyy-MM-dd HH:mm:ss")</small>
</h6>

<br />
<div id="quick-stats-table">
    <table class="table table-hover table-bordered table-sm">
        <tr>
            <th scope="row">
                Latest Power Draw
            </th>
            <td>
                @Model?.LatestPowerDraw.ToString("N2") kW
            </td>
        </tr>
        <tr>
            <th scope="row">
                Today's Consumption
            </th>
            <td>
                @Model?.TodaysTotalConsumption.ToString("N2") kWh
            </td>
        </tr>
        <tr>
            <th scope="row">
                @DateTime.Now.ToString("MMMMM")'s Consumption
            </th>
            <td>
                @Model?.ThisMonthsTotalConsumption.ToString("N2") kWh
            </td>
        </tr>
        <tr>
            <th scope="row">
                Estimated Consumption for @DateTime.Now.ToString("MMMM")
            </th>
            <td>
                @Model?.ThisMonthsEstimatedTotalConsumption.ToString("N2") kWh
            </td>
        </tr>
        <tr>
            <th scope="row">
                Current Temperature
            </th>
            <td>
                @Model?.LastTemperatureReading° F
            </td>
        </tr>
        <tr>
            <th scope="row">
                Current Humidity
            </th>
            <td>
                @Model?.LastHumidityReading.ToString("P0")
            </td>
        </tr>
    </table>
</div>

<div id="past-hour-power-draw">
    <br />
    <h3>Past Hour's Power Draw:</h3>
    <canvas id="past-hour-power-draw-chart" height="100"></canvas>
</div>

<div id="past-hour-consumption">
    <br />
    <h3>Past Hour's Consumption: @Model.PastHourConsumption.Sum(kvp => kvp.Value) kWh</h3>
    <canvas id="past-hour-consumption-chart" height="100"></canvas>
</div>

<div id="todays-hourly-consumption">
    <br />
    <h3>Today's Hourly Consumption</h3>
    <canvas id="todays-hourly-consumption-chart" height="100"></canvas>
</div>

<div id="this-months-consumption">
    <br />
    <h3>Consumption for @DateTime.Now.ToString("MMMM yyyy")</h3>
    <canvas id="this-months-consumption-chart" height="100"></canvas>
</div>
